<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Devolutiva - BG Saúde - Burnout</title>
</head>
<body>
    <p>Olá,</p>
    
    <p>Em relação às respostas dadas sobre os testes aplicados, temos os seguintes indicadores:</p>
    
    <p style="font-weight: bold">{{ pont_resili_str }}</p>
    <p>{{ sug_resili }}</p>
    
   
    <p>Se tiver qualquer dúvida ou desconforto em relação ao resultado, não hesite em nos contatar para esclarecimentos.</p>
    
    <p>Atenciosamente,<br>
    BG Saúde - Big Data e Treinamentos<br>
    Mapeamento e Segurança Emocional<br>
    <a href="www.bgtreinamentos.com.br">www.bgtreinamentos.com.br</a></p>
    
    <img src="{{ image_url }}" alt="Logo" style="width:150px;height:150px;">
</body>
</html>
